<html>
<head>
    <title>Welcome to my site!</title>
    
    <script>
        const userID = "{{ user_id }}";
    </script>
    <script src="/static/index.js" defer></script>
</head>

<body>
    <p style="font-size: 500%; margin: auto; width: 50%;">This is my cool website!!!</p>
    <div style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
        <button type="button" id="view_users">view users</button>
        <button type="button" id="go_to_page">edit you page</button>
        <button type="button" id="login">login to your account</button>
        
    </div>
    

</body>




</html>