<html>

<head>
    
</head>

<body>
    <p style="font-size: 300%;">login. if no user detected, an account will be created and you can login then.</p>
    
    <div>
        <form id="login">
            <label>Username:</label>
            <input type="text" id="username"><br>
            <label>Password:</label>
            <input type="text" id="password"><br>
            <input type="submit" value="Login/Register">
        </form>
    </div>


    <script src="/static/login.js" defer></script>
</body>


</html>